.vscode
lectures/var/CC-MAIN-20240412101354-20240412131354-00001.warc.gz
assignments/assignment1-basics/data/owt_valid.txt
assignments/assignment1-basics/data/TinyStoriesV2-GPT4-train.txt
assignments/assignment1-basics/data/owt_train.txt
assignments/assignment1-basics/.venv/lib/python3.13/site-packages/triton/_C/libtriton.so
assignments/assignment1-basics/.venv/lib/python3.13/site-packages/nvidia/cusolver/lib/libcusolver.so.11
assignments/assignment1-basics/.venv/lib/python3.13/site-packages/nvidia/nccl/lib/libnccl.so.2
assignments/assignment1-basics/.venv/lib/python3.13/site-packages/nvidia/cudnn/lib/libcudnn_ops.so.9
assignments/assignment1-basics/.venv/lib/python3.13/site-packages/nvidia/cudnn/lib/libcudnn_engines_precompiled.so.9
assignments/assignment1-basics/.venv/lib/python3.13/site-packages/nvidia/cudnn/lib/libcudnn_adv.so.9
assignments/assignment1-basics/.venv/lib/python3.13/site-packages/nvidia/cusparse/lib/libcusparse.so.12
assignments/assignment1-basics/.venv/lib/python3.13/site-packages/nvidia/cublas/lib/libcublasLt.so.12
assignments/assignment1-basics/.venv/lib/python3.13/site-packages/nvidia/cublas/lib/libcublas.so.12
assignments/assignment1-basics/.venv/lib/python3.13/site-packages/nvidia/cufft/lib/libcufft.so.11
assignments/assignment1-basics/.venv/lib/python3.13/site-packages/cusparselt/lib/libcusparseLt.so.0
assignments/assignment1-basics/.venv/lib/python3.13/site-packages/torch/lib/libtorch_cpu.so
assignments/assignment1-basics/.venv/lib/python3.13/site-packages/torch/lib/libtorch_cuda.so

assignments/cs336_basics/data/

.venv